# Virtual Environment
venv/
__pycache__/
*.pyc

# Environment Variables
.env
*.env
*.env.*

# Logs and Temporary Files
*.log
*.tmp
*.bak
*.swp
.DS_Store

# Sensitive Files
*.pem
*.key

# Terraform Files
*.tfstate
*.tfstate.backup
terraform.tfvars
terraform.tfvars.json
.terraform/
*.terraform*

# IDE and Editor Specific Files
.idea/
.vscode/

# Startup and Custom Scripts
*/startup_script.sh
